<div id="policy" class="panel panel-warning">
  <div class="panel-heading">
    Authorized courses only
  </div>
  <div class="panel-body">
    Note that this form is for students in <b>authorized courses only</b> which have pre-arranged with IDeATe a process for handling requests to purchase items from external vendors for their course.
    Check with your instructor for details.
  </div>
</div>

<p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScjcnd2zWSkYJYQ-FJyrbnP17FB4itXPVtuZcQn3DiO2tluKQ/viewform?embedded=true&entry.1603499440=<%= URI.encode(current_user.andrewid) %>" width="100%" height="2500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</p>
