<p>
The items listed below are normally kept available in the
<%= link_to 'Physical Computing Lab', 'https://resources.ideate.cmu.edu/spaces/physical-computing/', target: '_blank' %>
in Hunt A10 for course project use;
however, inventory quantities are only accurate as of the date listed.
<strong>If we have run out of any item below, or you would like us to consider stocking a new item,
please let us know by completing the
<%= link_to 'stock request form', request_physcomp_path %>.</strong>
</p>

<p>
Inventory items are sorted by location.
Use your browser’s search function (Ctrl+F or ⌘F) to search the inventory.
<strong>To avoid interrupting scheduled classes,
please double-check the <%= link_to 'classroom schedule', schedule_path(room: 'A10') %> before you go.</strong>
</p>

<p>
Please be patient with this page, as the inventory is long and takes some time to load.
To learn more about courses which confer access to the Physical Computing Lab,
<%= link_to 'browse our course listings', 'https://courses.ideate.cmu.edu/', target: '_blank' %>.
</p>



<iframe src="https://docs.google.com/spreadsheets/d/1SyywcQWh6rGbtcgnHbQJPP8sv5flXDQ4DE-7w6PK5Y0/pubhtml?gid=1100112942&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="1000px" frameborder="0" scrolling="auto"></iframe>
