<div class="page-header">
  <h1>Types &rsaquo; <%= @type.name %></h1>
</div>

<ul>
  <% @type.items.each do |item| %>
    <li>
      <%= link_to item.name, item_path(item.id) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Browse other types', types_path %>
</p>
