<p class="help-block">
  Use the form below to search for proper settings for the IDeATe CNC router.
  <strong>These settings are tuned to the IDeATe CNC router and should not be used for any other purposes.</strong>
</p>

<iframe src="https://creator.zohopublic.com/zoho_pzali/ideate/form-embed/Feeds_Speeds_Search/DAYUhGPq777HKqZnSZBRPM28F8G2wFPrktN21WbdNsDHKNfPsRX8GOPQU7n34JTUFgzKzHqhqZEs8ks53sATa4zDHw3FFOVOuPHr/" width="100%" height="400px" frameborder="0" scrolling="auto"></iframe>
