<p>
  Welcome to the IDeATe Quartermaster!
</p>

<ul>
  <li><%= link_to 'Dimension 1200sst 3D Print Requests', print_requests_path %></li>
  <li>Feeds and speeds lookup
    <ul>
      <li><%= link_to 'Laser cutter settings', laser_settings_path %></li>
      <li><%= link_to 'CNC router settings', cnc_settings_path %></li>
    </ul>
  </li>
</ul>
