<div class="container">

  <div class="page-header">
    <h1>IDeATe Quartermaster</h1>
  </div>

  <div class="row">
    <div class="col-md-12">

      Welcome to the IDeATe Quartermaster!
      The application goes here.

    </div>
  </div>

</div>
