<p>
  Welcome to the IDeATe Quartermaster!
</p>

<ul>
  <li><%= link_to 'List items', items_path %></li>
  <li><%= link_to 'Browse by tag', tags_path %></li>
  <li><%= link_to 'Browse by type', types_path %></li>
</ul>
