<div class="page-header">
  <h1>Tags</h1>
</div>

<ul>
  <% @tags.order(:name).each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag.id) %>
      (<%= tag.items.count %>)
    </li>
  <% end %>
</ul>
