<div id="policy" class="panel panel-danger" style="margin: 0.3em 0;">
  <div class="panel-heading">
    <h2 style="margin: 0.1em 0;">Application upgrades in progress</h2>
  </div>
  <div class="panel-body">
    Lending is currently <b>CLOSED</b> and this application is currently under development.
    You may notice changed behavior or unexpected errors when attempting to use various forms.
    <b class="text-danger">Please use the paper log on the clipboard if necessary.</b>
  </div>
</div>
