<%= render 'legacy_lending/navigation' %>

<p>
Use the <b>Add</b> button for a new lending checkout.
Use <b>Edit</b> to complete a return.
<b>Search</b> by any field.
</p>

<iframe src="https://creator.zohopublic.com/zoho_pzali/ideate/view-embed/CHECK_OUT2/43KVCTUBanuwp7N5TM4EXBaa9Ns49K5pjfvkajqt2MYpu960ssSTkEAOQAMP194f0eXaC33pONn5EJJ7TnXG9k6AzjdOV7UfSTfx" width="100%" height="1000px" frameborder="0" scrolling="auto"></iframe>
