<p>
Use <b>Edit</b> to complete a return.
<b>Search</b> by any field.
To create a new transaction, use the <%= link_to 'Lend item', lending_lend_url %> page.
</p>

<iframe src="<%= ENV['ZOHO_ITEM_RETURN_URL'] %>" width="100%" height="1000px" frameborder="0" scrolling="auto"></iframe>
