<p>
IDeATe students are able to purchase various consumable materials
(such as plywood and acrylic) from
<a href="https://resources.ideate.cmu.edu/lending/">IDeATe Lending</a>.
This offers students the convenience of having quick access to materials to use
the same day in their projects.
Charges are submitted to
<a href="https://www.cmu.edu/sfs/billing/">student accounts</a> on a regular
basis and will appear on statements as “IDeATe materials fee.”
</p>

<p>
Please note, this resource is primarily stocked to accommodate the needs of
IDeATe students in IDeATe classes, and is not a storefront.
IDeATe does not accept Oracle strings, cash, or any other payment form for
individual consumable material sale.
For those wishing to obtain material for projects outside of IDeATe classes,
please visit the
<a href="https://bookstore.web.cmu.edu/SiteText.aspx?id=46971">CMU Art Store</a>
for individual Oracle string or cash purchase requests.
The CMU Art Store carries many similar flat stock items, including acrylic.
</p>

<p>
CMU faculty or staff with questions about purchases should contact
<a href="mailto:help@ideate.cmu.edu">help@ideate.cmu.edu</a>.
</p>

<p>
<b>Prices are reviewed and updated semi-annually based on actual costs.</b>
Not all sizes and colors are available at all times.
Current prices for commonly-available items are listed below:
</p>

<iframe src="https://creator.zohopublic.com/zoho_pzali/ideate/view-embed/IN_STOCK_CONSUMABLES/PWBR9nxzOjSDrMhpWpdUAbsOdf0kMT7WRzgnCuDq36E9aE1JOnd9qk0jf3KKZQqzn44qOFXWhb6utCmUqzg61Bu4pP2jms9a4N3m" width="100%" height="700px" frameborder="0" scrolling="auto"></iframe>
