<nav class="navbar navbar-default <%= "navbar-inverse" unless Rails.env.production? %>">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "IDeATe Quartermaster", root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
