<% if flash %>
  <div class="row">
    <div class="col-md-12">

      <% flash.each do |style, msg| %>
        <% if style == 'notice' %>
          <% style = 'info' %>
        <% end %>
        <% if style == 'alert' %>
          <% style = 'danger' %>
        <% end %>
        <p class="alert alert-<%= style %>"><%= msg %></p>
      <% end %>

    </div>
  </div>
<% end %>
