<div class="col-md-6">
  <h2>NVBots 01</h2>
  <img id="sampleMovie" src="http://nvbots-01.andrew.cmu.edu:8080/?action=stream" width="100%">
</div>
<div class="col-md-6">
  <h2>NVBots 02</h2>
  <img id="sampleMovie" src="http://nvbots-02.andrew.cmu.edu:8080/?action=stream" width="100%">
</div>

<div class="col-md-12 text-center">
  <a class="btn btn-primary btn-lg" style="margin: 1em;" href="https://my.nvbots.com/dashboard/" target="_blank" role="button">Log into NVBots Dashboard</a>
</div>
